@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


:root{
    /* Fonts */
    --Vietnam-Pro: 'Be Vietnam Pro', sans-serif;    

    /* Primary */
    --Bright-Red: #f25f3a;
    --Dark-Blue: #242d52;

    /* Neutral */
    --Dark-Grayish-Blue: #9095a7;
    --Very-Dark-Blue: #1d1e25;
    --Very-Pale-Red: #ffefeb;
    --Very-Light-Gray: #fafafa;

    /* Padding */
    --padding: 24px 16px;
}