.Footer{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--Very-Dark-Blue);

    &__Form{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    & input{
        padding: 12px 24px;
        border-radius: 2rem;
        outline: none;
        border: 3px solid transparent;
        width: 280px;
        transition: all .2s ease-in;


        &:focus{
            border:3px solid var(--Bright-Red);
        }
    }

    & button{
        padding: 12px 24px;
        background-color: var(--Bright-Red);
        color: var(--Very-Light-Gray);
        border-radius: 2rem;
        font-size: 12px;

    }

    &__MenuContainer{
        padding: 0 40px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5rem;
        font-size: 14px;

        & li{
            margin-bottom: 16px;
        }

        & a{
            color: var(--Very-Light-Gray);
        }
    }

    &__Social{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &__container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__Logo, & span{
        margin: auto;
    }

    & span{
        font-size: 12px;
        color: var(--Very-Light-Gray);
    }

    &__Copiryght{
        display: none;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
        padding-inline: 140px;
        gap: 100px;

        &__MenuContainer{
            padding: 0;
            justify-content: start;
            gap: 12rem;
        }

        &__Social{
            gap: 1rem;
            &__container {
                flex-direction: column-reverse;
                justify-content: space-between;
            }      
        }

        &__Logo{
            margin: 0;
        }


        &__Copiryght{
            display: block;
            width: 100%;
            text-align: right;
            margin: 60px 0 !important;
        }

    }
}